<nav class="navbar">
  <div class="navbar-brand">🌱 Coleta Seletiva</div>
  <div class="navbar-links">
    
    <a href="/pontos">📋 Início</a>

    <span class="navbar-user">👤 <%= user.nome %></span>
    <a href="/auth/logout" class="btn-logout">Sair</a>
  </div>
</nav>